<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Divelog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/faviconS.png">
        <link rel="icon" type="image/png" sizes="192x192" href="~/images/faviconL.png">
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/layoutHero.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/divelog.styles.css" asp-append-version="true" />
        </head>

        <body>
            <div class="page-wrapper">
                <div class="hero-wrapper">

                    <a asp-controller="Home" asp-action="Index" class="logo-link">
                        <img src="/images/faviconL.png" alt="Logo" class="logo-Top-Left">
                    </a>

                    <div class="hero-background"></div>

                    <header class="hero-header">
                        @await Html.PartialAsync("_Menu")
                    </header>

                    <div class="hero-content">
                        @RenderSection("Hero", required: false)
                    </div>

                </div>

                <div class="main-content">
                    <main>
                        @RenderBody()
                    </main>
                </div>

                <footer>
                    <p>&copy; 2026 - Divelog</p>
                </footer>
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </body>